.container {
  height: 65vh;
}
.element {
  border-right: 1px solid rgb(236, 33, 33);
  border-bottom: 1px solid rgb(44, 8, 248);
  height: 13vh;
}
.grid {
  border-left: 1px solid rgb(18, 224, 80);
  border-top: 1px solid rgb(188, 238, 9);
}
